**/__pycache__/
**/.DS_Store

encoded-data/*
encoded-data-small/*
open_domain_data/*
scripts/evaluation/FiD/open_domain_data
!scripts/evaluation/FiD/open_domain_data/*.py
scripts/evaluation/contriever_embeddings
datasets/*
model/*